.event-section {
  background-color: var(--background);
  color: var(--foreground);
  position: relative;
  display: flex;
}

div {
  display: block;
}
.section {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.inner-section {
  max-width: 60rem;
  min-height: 50vh;
  margin: 0 auto;
  padding: 0rem 3rem;
}

.item-content {
  justify-content: flex-start;
}

.item-list, .item-list1 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.date {
  font-size: 1rem;
}
.title {
  font-size: 3rem;
}
.see-detail, .description{
  font-size: 1.4rem;
}

.column1{
  text-align: center;
  padding-top: 20px;
}