/* src/components/EventPage.css */

.event-page {
    font-family: Arial, sans-serif;
  }
  
  .banner {
    background-image: url('src/assets/images/edwin-andrade-6liebVeAfrY-unsplash.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 300px 20px;
  }
  
  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .event-card {
    display: flex;
    background: #333;
    color: #fff;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .event-card img {
    width: 200px;
    height: auto;
  }
  
  .event-info {
    padding: 20px;
  }
  
  .event-date {
    color: #ffa500;
  }
  
  .event-title {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .event-description {
    margin-bottom: 20px;
  }
  
  .event-link {
    color: #ffa500;
    text-decoration: none;
  }
  